.DS_Store
.idea/
__pycache__/
amazon_reviews_us_Books_v1_02.tsv.gz
hw4_cassandra_code_interaction/amazon_reviews_us_Books_v1_02.tsv
hw4_cassandra_code_interaction/temp.py
archive.zip
archive
hw6_kafka_read_with_code/twcs.csv
hw7_kafka_write_with_code/twcs.csv
hw8_kafka_and_cassandra/PS_20174392719_1491204439457_log.csv
hw9_spark_basics/PS_20174392719_1491204439457_log.csv
hw10_spark_data_processing/JPvideos.csv
hw10_spark_data_processing/japan_data
hw10_spark_data_processing/test.json
*.crc
_SUCCESS